<section>
						<header>
							<h2>Get in touch</h2>
						</header>
						<div class="content">
							<ul class="items">
								<li>
									<h3>Address</h3>
									<span>{{ site.address }}</span>
								</li>
								<li>
									<ul class="icons">
										{% if site.instagram %}
										<a href="{{ site.instagram }}"
										class="icon brands fa-instagram"
										style="font-size: 2rem;"
										target="_blank"
										rel="noopener noreferrer">
											<span class="label">Instagram</span>
										</a>
										{% endif %}
									</ul>
								</li>
							</ul>
						</div>
						{% include footer.html %}
					</section>
